/* App.css */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 20px;
}

.app-title {
  margin-bottom: 10px;
}

.app-logo {
  width: 100px;
  height: 100px;
}

.grow-container {
  margin-top: 20px;
}

.posts-container {
  display: flex;
  justify-content: space-between;
}

.posts-item {
  flex: 0 0 70%;
}

.form-item {
  flex: 0 0 28%;
}
